.v-loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    z-index: 2147483647;
}
.v-loading-indicator:before {
    width: 60px;
    height: 60px;
    position: fixed;

    top: 105px;
    right: 30px;

    margin: -38px 0 0 -38px;

    border-radius: 100%;
    animation: spin 2s linear infinite;
    content: "";
}


.v-loading-indicator.first:before {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1D976C;
}

.v-loading-indicator.second:before {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid  #1D976C;}

.v-loading-indicator.third:before {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1D976C;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}